<div class="container">
    <div class="container-image">
        <img src="..\assets\images\home-page.jpg" alt="Home picture">
    </div>
    <div class="container-main">
        <div class="container-main-text">
            <h1>{{"home-page.title" | translate}}</h1>
            <p>{{"home-page.paragraph1" | translate}}</p>
            <p>{{"home-page.paragraph2" | translate}}</p>  
            <p>{{"home-page.paragraph3" | translate}}</p>  
        </div>
        <div class="container-main-interaction">
            <button mat-flat-button color="accent">{{"button.start" | translate}}</button>
        </div>

    </div>
</div>