a {
  margin-left: 0.7em;
  background-color: #4a4df6;
  color: white;
}

img {
  height: 3.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em
}

.mat-icon-button {
  color: white;
}

.spacer {
  flex: auto;
}

.docs-scene-toolbar-title {
  font-size: x-large;
}

.language {
  font-size: 14px;
  line-height: 3em;
  height: 3em;
  width: 10em;
}

mat-option {
  font-size: 14px;
}