<mat-toolbar color="primary">
  <img
    [routerLink]="['/home']"
    src="..\assets\images\logo.png"
    alt="Logo picture"
  />

  <a mat-button [routerLink]="['/item']">
    {{ "navbar.items" | translate }}
  </a>
  <a mat-button [routerLink]="['/order']">
    {{ "navbar.orders" | translate }}
  </a>
  <a mat-button 
  *ngIf="role === Role[Role.Admin]"
  [routerLink]="['admin/user']">
    {{ "navbar.users" | translate }}
  </a>

  <span class="spacer"></span>

  <mat-select color="accent" class="language" [(ngModel)]="language">
    <mat-option
      *ngFor="let language of languages"
      [value]="language"
      (click)="changeLanguage(language)"
    >
      {{ language }}
    </mat-option>
  </mat-select>

  <button
    mat-icon-button
    *ngIf="role === Role[Role.User]"
    mat-icon-button
    [routerLink]="['/chat']"
  >
    <mat-icon>mail</mat-icon
    ><span
      [matBadge]="countUnread"
      matBadgeColor="accent"
      [matBadgeHidden]="countUnread == 0"
    >
    </span>
  </button>

  <button *ngIf="!isLoggedIn" mat-icon-button [routerLink]="['/account/login']">
    <mat-icon>login</mat-icon>
  </button>
  <a
    *ngIf="role === Role[Role.User]"
    mat-button
    [routerLink]="['/account/details']"
  >
    <mat-icon aria-hidden="false" svgIcon="user"></mat-icon>
    {{ "navbar.profile" | translate }}
  </a>
  <button *ngIf="isLoggedIn" mat-icon-button color="accent" (click)="logOut()">
    <mat-icon color="accent">logout</mat-icon>
  </button>
</mat-toolbar>
