<div class="container">
  <div class="container-title">
    <h1>{{ "title.items" | translate }}</h1>
    <button
      *ngIf="role === Role[Role.User]"
      class="button-add"
      mat-flat-button
      color="primary"
      [routerLink]="['/item/create']"
    >
      <mat-icon>add_circle_outline</mat-icon>
      {{ "label.item" | translate }}
    </button>
  </div>
  <div class="container-item">
    <div class="container-item-filter">
      <form (ngSubmit)="filter()">
        <mat-form-field appearance="outline">
          <mat-label>{{ "title.search" | translate }}</mat-label>
          <mat-icon color="primary" matSuffix>search</mat-icon>
          <input matInput [formControl]="search" placeholder="Eindhoven" />
        </mat-form-field>

        <section [formGroup]="categoriesForm">
          <p>{{ "label.categories" | translate }}</p>
          <div *ngFor="let category of categoriesInit">
            <mat-checkbox [formControlName]="category.toString()">{{ Category[category] }}</mat-checkbox>
          </div>
        </section>
        
        <p>{{ "label.priceUS" | translate }}</p>
        <mat-slider [min]="0" [max]="itemMaxPrice" [discrete]="true">
          <input [formControl]="priceMinUS" [value]="0" matSliderStartThumb>
          <input [formControl]="priceMaxUS" [value]="itemMaxPrice" matSliderEndThumb>
        </mat-slider>

        <button type="submit" color="accent" mat-flat-button>
          {{ "title.search" | translate }}
        </button>
      </form>
    </div>
    <div *ngIf="allItems == undefined || allItems.length === 0; else itemList">
      <h3> {{ "item.text.empty_list" | translate }} </h3>
    </div>
  </div>

  <ng-template #itemList>
    <div>
      <div class="container-item-list">
        <mat-card
          class="card-item"
          *ngFor="let item of items"
          [routerLink]="['/item/:id']"
          [queryParams]="{ id: item.id }"
        >
          <mat-card
            class="card-landlord"
            [routerLink]="['/profile/:id']"
            [queryParams]="{ id: item.landlordId }"
          >
            <mat-card-header>
              <mat-card-title>
                {{ item.landlord?.firstName }} {{ item.landlord?.lastName }}
              </mat-card-title>
              <!-- <mat-card-subtitle>Landlord</mat-card-subtitle> -->
            </mat-card-header>
          </mat-card>

          <mat-card-header>
            <mat-card-title>
              {{ item.title }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ Category[item.category] }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <img
              mat-card-image
              [src]="
                item.imageUrl
                  ? item.imageUrl
                  : '..assets/images/default-image.jpg'
              "
              onerror="'..assets/images/default-image.jpg'"
              alt="Photo of the item"
            />

            <p>
              <mat-icon color="primary">description</mat-icon>
              {{ item.description }}
            </p>
            <p>
              <mat-icon color="primary">location_on</mat-icon>
              {{ item.address }}
            </p>
            <p>
              <mat-icon color="primary" svgIcon="us"></mat-icon>
              {{ item.priceUS }}
            </p>
            <p *ngIf="language == 'ua'">
              <mat-icon color="primary" svgIcon="uah"></mat-icon>
              {{ item.priceUA }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-paginator
        [length]="allItems.length"
        [pageSizeOptions]="[4, 8, 16, 24]"
        aria-label="Select page"
        (page)="pageEvent = $event; onPaginateChange($event)"
      >
      </mat-paginator>
    </div>
  </ng-template>
</div>
