.container {
    display: flex;
    flex-direction: column;
}

.container-title {
    display: grid;
    grid-template-columns: 4fr 150px;
    margin-bottom: 1em;
}

.button-add {
    float: right;
    align-self: end;
}

h1 {
    margin: 0;
}

.container-vacancy {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 3fr;
}

/* vacancy-list */
.container-vacancy-list {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
}

mat-paginator {
    margin-top: 2em;
}

mat-card {
    display:flex;
    flex-direction: column;
}

mat-card-header {
    flex-shrink: 0;
}

mat-card-content{
    flex-grow: 1;
}

/* vacancy-filter */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mat-form-field {
    margin-bottom: -1em;
}

label {
    margin-top: 0.4em;
}

.radio-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7em;
    margin-bottom: 0.7em;
}
  
.radio-button {
    margin: 0.4em;
}

.card-landlord {
    margin-bottom: 1.5em;
}

.card-item mat-card-content {
    margin-left: 1em;
    margin-top: 1em;
}

img {
    max-height: 15em;
    width: fit-content;
    border-radius: 5px;
    display: block;
    margin: 0 auto 1em;
  }

  p mat-icon{
    vertical-align: middle;
    margin-right: 5px;
  }