.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

mat-card {
  height: fit-content;
}

.card-item {
  margin-right: 2em;
}

.card-order {
  margin-bottom: 2em;
}

.card-reserved-dates {
  margin-bottom: 1em;
}

.card-reserved-dates mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-form-field {
  min-width: 400px;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  justify-self: center;
  width: 100%;
}

img {
  max-height: 15em;
  width: fit-content;
  border-radius: 5px;
  display: block;
  margin: 0 auto 1em;
}

p mat-icon {
  vertical-align: middle;
  margin-right: 5px;
}

.card-landlord {
  margin: 1em;
}

.card-landlord mat-card-header {
  margin-bottom: 1em;
}

.card-item mat-card-content {
  margin-left: 1em;
  margin-top: 1em;
}
